body {
    font-family: "Cursive", Florence, cursive;
    color: #333333;
    margin: 20px;
}

h2 {
    font-family: "Cursive", Florence, cursive;
    color: #008080;
}


hr {
    border: 1px solid #899ddc;
}